<div class="width100">
   <div class="floatLeft">
      <section class="bannerContainter" subtract="500" >
         <div class="md-padding">
            <div class="mar0auto width80">
               <div ng-if="selectedNatCity ==''">
                  <center>
                     <p style="font-size: 22px;" class="blue">Select City to update National Listing Budget.</p>
                     <input type="text" contractcityauto ng-model="cityselcampaign['national']" id="national" class="form-input" style="width: 240px;height:1.5rem;padding: 0 1px 5px 10px;text-transform: capitalize;"> 
                     <p style="background-color: #3f50c7; color: white; width: 120px; padding: 7px;cursor: pointer;" ng-click="selCityNational($event)">Submit</p>
                  </center>
               </div>
               <div ng-if="selectedNatCity != ''">
                  <br> <span style="text-decoration:underline;font-weight:bold;color:purple;" ng-click="changeCityNational($event);">Change City</span> 
                  <div class="md-title blue" layout="row" layout-align="space-around" >National Listing Budget In {{selectedNatCity | capitalize}}</div>
                  <div>
                     <md-list-item>
                        <p class="blue">Budget</p>
                        <input type="text" numbersonly="numbersonly" class="txtBox" ng-model="nationalBdgt.budget" />	
                     </md-list-item>
                  </div>
                  <md-button class="md-fab addData" aria-label="Eat cake" ng-click="submitNationalBudget($event)" style="font-weight:bold;">Save</md-button>
               </div>
            </div>
         </div>
      </section>
   </div>
   <div class='floatRight'>
      <div class="md-toolbar-tools">
         <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
               <md-icon md-menu-origin md-svg-icon="img/ic_more_vert_36px.svg" style="color:#000000"></md-icon>
            </md-button>
            <md-menu-content width="4">
               <md-menu-item>
                  <md-button ng-click="nationalMoreOption('natbdgtlog',$event)"> National Listing Budget Log </md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
      </div>
   </div>
</div>
